@import url(./_hover/profile__avatar_hover.css);
@import url(./_icon/profile__avatar_icon.css);

.profile__avatar {
    width: 120px;
    height: 120px;
    max-width: 120px;
    max-height: 120px;
    margin: 0 30px 0 0;
    border-radius: 100%;
    position: relative;
}

.profile__avatar:hover .profile__avatar_hover {
    display: block;
    opacity: 0.8;
    border: 0;
    border-radius: 100%;
}

.profile__avatar_hover .profile__avatar_icon {
	color: white;
    font-size: 100px;
    position: absolute;
    border: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
} 

@media all and (max-width: 1280px) {
    .profile__avatar {
        flex-basis: 100%;
        margin: 0 0 26px 0;
    }
}