.popup__container_submit {
    background-color: #000000;
    border-radius: 2px;
    max-width: 358px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin: 48px 0 0 0;
    cursor: pointer;
}

.popup__container_submit:hover {
    background-color: #000000;
    border-radius: 2px;
    opacity: 0.8;
}

@media all and (max-width: 321px) {
    .popup__container_submit {
        min-width: 238px;
    }
}